
<span class = "link-manu"><%= link_to '<= на головну', recommendation_index_path%></span>

<%= form_with model: @car do |form| %>
    <div class = "add-box">
        <div class = "flex">
            <p>Марка </p>
            <%= form.text_field :brand %> 
        </div>
        <div class = "flex">
            <p>Модель </p>
            <%= form.text_field :model %>
        </div>

        <div class = "flex">
            <p>Модифiкацiя </p>
            <%= form.text_field :modification %>
        </div>
    </div>
        <div class = "add-box">
            <div class = "flex">
                <p>Рiк </p>
                <%= form.text_field :year %>
            </div>
            <div class = "flex">
                <p>Цiна в $ </p>
                <%= form.text_field :price %>
            </div>

            <div class = "flex">
                <p>Пробiг </p>
                <%= form.text_field :run %>
            </div>
        </div>
    </div>

    </div>
        <div class = "add-box">
            <div class = "flex">
                <p>Рiк </p>
                <%= form.text_field :year %>
            </div>
            <div class = "flex">
                <p>Цiна в $ </p>
                <%= form.text_field :price %>
            </div>

            <div class = "flex">
                <p>Пробiг </p>
                <%= form.text_field :run %>
            </div>
        </div>
    </div>

    </div>
        <div class = "add-box">
            <div class = "flex">
                <p>Пвливо </p>
                <%= form.text_field :brown %>
            </div>
            <div class = "flex">
                <p>Обэм двигуна </p>
                <div>
                    <%= form.text_field :engine_capaciti %>
                    <%= form.text_field :type_gears %>
                </div>
            </div>

            <div class = "flex">
                <p>Привiд </p>
                <%= form.text_field :occasion %>
            </div>
        </div>
    </div>

    </div>
        <div class = "add-box">
            <div class = "flex">
                <p>Стан </p>
                <%= form.text_field :state %>
            </div>
            <div class = "flex">
                <p>Колiр </p>
                <%= form.text_field :color %>
            </div>
        </div>
    </div>

    </div>
        <div class = "add-box">
            <div class = "flex">
                <p>Область </p>
                <%= form.text_field :region %>
            </div>
            <div class = "flex">
                <p>Мiсто </p>
                <%= form.text_field :city %>
            </div>

            <div>
                <p>Опис </p>
                <%= form.text_area :description %>
            </div>
        </div>
    </div>

    </div>
        <div class = "add-box">
            <div class = "flex">
                <p>Вiн код </p>
                <%= form.text_field :vin_code %>
            </div>
            <div class = "flex">
                <p>ДТП </p>
                <%= form.text_field :accident %>
            </div>
        </div>
    </div>
        <div>
            <div class = "add-box">
                <div class = "flex">
                    <p>Номер телефону </p>
                    <%= form.text_field :tel %>
                </div>
            </div>
        </div>
    </div>

    <%= form.submit "Додати авто" %>
<%end%>