<h1>fffffffffffffffffffffffffffff</h1>
<%= @car.model %>
<%= @car.price %>
<%= @car.run %>
<%= @car.city %>
<%= @car.engine_capaciti %>

<%# додати витрата палива %>
<%# додати коробку передач %>
<%= @car.vin_code %>
<%= @car.accident %>

<%= @car.occasion %>
<%= @car.description %>
<%= @car.tel %>
