<!DOCTYPE html>
<html>
  <head>
    <title>AvtoTradingPlatform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <span><%= link_to 'Recommendation', recommendation_path%></span>
      <span><%= link_to 'Recent', recent_path%></span>
      <span><%= link_to 'Dealers', dealers_path%></span>
      <span><%= link_to 'Add', add_path%></span>
      <span><%= link_to 'Registration', registration_path%></span>
      
    </header>

    <main>
      <%= yield %>
    </main>
    
  </body>
</html>
